<div class="section mt-10 mb-3">
    <div class="container">
        <div class="row align-items-center" >
            <div class="col-lg-3"></div>
            <div class="col-lg-6 col-12 mb-2">
                <div>
                    <br>
                    <div class="card">
                        <div class="card-header">
                            <span class="lead font-weight-bold">
                                <i class="fas fa-exclamation-triangle fa-1x fa-fw" ></i>
                                {{.ErrorHeader}}&nbsp;&nbsp;
                            </span>
                        </div>
                        <div class="card-body">
                            {{.ErrorMessage}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center" >
            <div class="col-lg-3"></div>
            <div class="col-lg-6 col-12 mb-2">

                <a href="/" class="btn btn-success">Return to home page</a>

            </div>
        </div>
    </div>
</div>